<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap">

    <!-- CSS -->
    <link rel="stylesheet" href="navbar.css">
    <style>

        body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    flex: 1;
    padding: 20px;
    z-index: 3;
}

.dashboard-container h1 {
    font-size: 34px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.dashboard-container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.dashboard-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
    </style>
    <!-- JavaScrips -->

    <!-- boxicons CSS -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">CS50 Final Project:</span>
                    <span class="profession">Student</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="index.html">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="calculator.html">
                            <i class='bx bx-calculator icon' ></i>
                            <span class="text nav-text">Calculator</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="cube.html">
                            <i class='bx bx-cube-alt icon' ></i>
                            <span class="text nav-text">3D Cube</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="hangman.html">
                            <i class='bx bx-joystick icon'></i>
                            <span class="text nav-text">Hangman</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-question-mark icon'></i>
                            <span class="text nav-text">About</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-message-rounded icon'></i>
                            <span class="text nav-text">Feedback</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li>
                    <a href="#">
                        <i class='bx bx-recycle icon'></i>
                        <span class="text nav-text">Random</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon' ></i>
                        <i class='bx bx-sun icon sun' ></i>
                    </div>
                    <span class="mode-text text">Dark Theme</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <div class="dashboard-container">
        <section class="home">
            <div class="section">
                <!-- Create space for text, and make it visualy pleasing -->
                <div class="extra-separation"></div>
                <div class="extra-separation"></div>

                <h1>Welcome to Student!</h1>
                <p>Student - an unassuming name for a program, isn't it?</p>
                <p>Yet, as one ventures down the rabbit hole, </p>
                <p> a profound understanding of the rabbit's nature unfolds.</p>
            </div>

            <div class="extra-separation"></div>

            <div class="section">
                <h2>Where are We?</h1>
                <p>My dear friend, you are precisely where you should be - at the heart of 'Student',</p>
                <p>the homepage of my application and the culmination of my creative endeavors.</p>
                <p>Yet, despite the exhilaration of this moment, a whisper of doubt lingers,</p>
                <p>echoing the bittersweet tang of disappointment.</p>
                <p>huh...</p>
            </div>

            <div class="section">
                <h2>What is Student?</h2>
                <p>Do pardon my cryptic reference to 'Student.'</p>
                <p>I must confess, my exuberance in conversing about this peculiar endeavor</p>
                <p>with an outsider such as yourself nearly bubbles over. Let me elucidate in the simplest terms:</p>
                <p>'Student' is the appellation bestowed upon my magnum opus, a wondrous compendium of interactive tools and games that serves as a testament to both my coding prowess and fanciful imagination.</p>
                <p>(The Voice, leaning precariously, into your ears speaks softly) Pray, do bear in mind that it's an ever-evolving spectacle,(pulling back, his voice gradually increases in voloume) a fantastical work in progress that dances to its own whimsical tune.</p>
                <p>"A grim look spreads across your face, but you seem to evoke sincerity from your gaze and trust that the voice speaks truthfully.</p>
                <p>You ask a question and another after that, until you conclude with a double ended question-mark..."</p>
            </div>

            <div class="section">
                <h2>What have you created and can i use it??</h1>
                <p>Use it, why of course.</p>
                <p>As to the 'What?' - "yes it most definitely is a 'what' type of question."</p>
                <p>I've completed three fully functional programs, each meticulously crafted and rigorously</p>
                <p>tested to ensure flawless performance. After all, if they weren't functional,</p>
                <p>they wouldn't be complete, would they?</p>
                <div class="extra-separation"></div>
                <p>The first is a versatile calculator, seamlessly handling even the most complex mathematical equations.</p>
                <p>The second is a revolutionary 3D creation tool, i call '3D Cube' empowering users to endulge</p>
                <p>their creative minds and watch as they themselves create a wondrous spectical of shapes and colours</p>
                <p>that disengage the minds eye. And the third is a captivating Hangman game, immersing players in a suspenseful battle of wits</p>
                <div class="extra-separation"></div>
                <p>If you encounter any menu options or functions that don't quite</p>
                <p>work as expected, please understand that they are placeholders for future updates.</p>
                <p>I'm eagerly working on expanding its capabilities with new programs and tools in the coming months.</p>
                <div class="extra-separation"></div>
                <p>Feel free to explore Student by accessing the navigation bar on the left of your screen.</p>
                <h6><p>P.s. Click that blue arrow on the top left, the one facing towards the right.</p></h6>
                <p></p>
            </div>

            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
            <div class="extra-separation"></div>
        </section>
    </div>

    <script src="navbar.js"></script>
</body>
</html>
